<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
<nav class="uk-margin top" uk-navbar style="position: relative; z-index: 980;">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-text-bold">
                <img class="uk-comment-avatar" style="display: inline" src="logo3.png" width="160" height="160" alt="">
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#" class="uk-text-bold" style="display: inline; color:white;"><%= nome %></a>
                
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a uk-icon="icon: thumbnails" id="btn-maneger">Gerenciar Usuario</span></a></li>
                        
                        <li class="uk-nav-divider"></li>
                        <li class="uk-active"> <a href="#modal-usuario" uk-icon="icon: users" uk-toggle> Cadastrar Usuario </a> </li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-active"><a href="/sair" uk-icon="icon: sign-out">Sair</a></li>
                    </ul>
                </div>
                
                <img class="uk-comment-avatar" style="display: inline; border-radius: 50%;" src="avatar2.png" width="80" height="80" alt="">   
            </li>
            </div>
        </ul>
    </div>
</nav>
</div>